# This is an exercise about dataframe cleanup

In [1]:
# info about encoding
# Import necessary libraries
import pandas as pd
from pathlib import Path

In [2]:
# Make the connection to the source file.
dol_csv = Path(r"C:\Users\admin\Desktop\FinTech-Workspace\PowerPoint_sample\Module3\02_Dollars_and_Change\Resources\big_time_money_flows.csv")

In [3]:
# Make Pandas read the CSV file.
dol_df = pd.read_csv(dol_csv, index_col = "Date", parse_dates = True, infer_datetime_format=True)

In [4]:
# Create the DataFrame.
dol_df

           Total Payments Profit Margin
Date
2021-01-01     $100008.16           NaN
2021-01-02     $100017.49          4.8%
2021-01-03     $100018.77         10.2%
2021-01-05     $100035.19          9.9%
2021-01-05     $100035.19          9.9%
...                   ...           ...
2021-01-06     $100048.46          9.8%
2021-01-07     $100048.35          6.3%
2021-01-08     $100033.09          8.5%
2021-01-09     $100008.56          5.1%
2021-01-10      $99988.86          4.4%

[373 rows x 2 columns]

In [5]:
# Set the Date for index at the CSV calling.

In [6]:
dol_df.dtypes

Total Payments    object
Profit Margin     object
dtype: object

In [7]:
# The DataFrame is an object type inferring string.
# There are dollar "$" signs as well as percent "%" signs, need to replace them.
# Task: isolate and replace
dol_df.loc[:,["Total Payments", "Profit Margin"]]

           Total Payments Profit Margin
Date
2021-01-01     $100008.16           NaN
2021-01-02     $100017.49          4.8%
2021-01-03     $100018.77         10.2%
2021-01-05     $100035.19          9.9%
2021-01-05     $100035.19          9.9%
...                   ...           ...
2021-01-06     $100048.46          9.8%
2021-01-07     $100048.35          6.3%
2021-01-08     $100033.09          8.5%
2021-01-09     $100008.56          5.1%
2021-01-10      $99988.86          4.4%

[373 rows x 2 columns]

In [8]:
# Isolate and replace the string, then convert to numerical behavior to float.
# Task: isolate, replace, and then transform data type to numerical behavior like float
dol_df.loc[:,"Total Payments"] = dol_df.loc[:,"Total Payments"].str.replace("$", "")
dol_df.loc[:,"Total Payments"]

C:\Users\admin\AppData\Local\Temp\ipykernel_13448\964647881.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dol_df.loc[:,"Total Payments"] = dol_df.loc[:,"Total Payments"].str.replace("$", "")

Date
2021-01-01    100008.16
2021-01-02    100017.49
2021-01-03    100018.77
2021-01-05    100035.19
2021-01-05    100035.19
                ...
2021-01-06    100048.46
2021-01-07    100048.35
2021-01-08    100033.09
2021-01-09    100008.56
2021-01-10     99988.86
Name: Total Payments, Length: 373, dtype: object

In [9]:
dol_df.loc[:,"Total Payments"] = dol_df.loc[:,"Total Payments"].astype(float)
dol_df.loc[:,"Total Payments"]

C:\Users\admin\AppData\Local\Temp\ipykernel_13448\365390887.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dol_df.loc[:,"Total Payments"] = dol_df.loc[:,"Total Payments"].astype(float)

Date
2021-01-01    100008.16
2021-01-02    100017.49
2021-01-03    100018.77
2021-01-05    100035.19
2021-01-05    100035.19
                ...
2021-01-06    100048.46
2021-01-07    100048.35
2021-01-08    100033.09
2021-01-09    100008.56
2021-01-10     99988.86
Name: Total Payments, Length: 373, dtype: float64

In [10]:
dol_df.loc[:,"Total Payments"].dtypes

dtype('float64')

In [28]:
dol_df.loc[:,"Total Payments"] = dol_df.loc[:,"Total Payments"].isnull()
dol_df.loc[:,"Total Payments"]

Date
2021-01-01    False
2021-01-02    False
2021-01-03    False
2021-01-05    False
2021-01-05    False
              ...
2021-01-06    False
2021-01-07    False
2021-01-08    False
2021-01-09    False
2021-01-10    False
Name: Total Payments, Length: 373, dtype: bool

In [46]:
dol_df.loc[:,"Total Payments"].isnull().sum()

0

In [51]:
dol_df.loc[:,"Total Payments"].duplicated().sum()

372

In [49]:
dol_df.loc[:,"Total Payments"] = dol_df.loc[:,"Total Payments"].drop_duplicates().duplicated().sum()
dol_df.loc[:,"Total Payments"]

Date
2021-01-01    0
2021-01-02    0
2021-01-03    0
2021-01-05    0
2021-01-05    0
             ..
2021-01-06    0
2021-01-07    0
2021-01-08    0
2021-01-09    0
2021-01-10    0
Name: Total Payments, Length: 373, dtype: int64

371

In [16]:
dol_df.loc[:,"Profit Margin"].dtypes

dtype('O')

In [17]:
dol_df.loc[:,"Profit Margin"] = dol_df.loc[:,"Profit Margin"].astype(float)
dol_df.loc[:,"Profit Margin"]

C:\Users\admin\AppData\Local\Temp\ipykernel_13448\921286179.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dol_df.loc[:,"Profit Margin"] = dol_df.loc[:,"Profit Margin"].astype(float)

Date
2021-01-01     NaN
2021-01-02     4.8
2021-01-03    10.2
2021-01-05     9.9
2021-01-05     9.9
              ...
2021-01-06     9.8
2021-01-07     6.3
2021-01-08     8.5
2021-01-09     5.1
2021-01-10     4.4
Name: Profit Margin, Length: 373, dtype: float64

In [18]:
dol_df.loc[:,"Profit Margin"].dtypes

dtype('float64')

In [19]:
dol_df.loc[:,"Profit Margin"].isnull()

Date
2021-01-01     True
2021-01-02    False
2021-01-03    False
2021-01-05    False
2021-01-05    False
              ...
2021-01-06    False
2021-01-07    False
2021-01-08    False
2021-01-09    False
2021-01-10    False
Name: Profit Margin, Length: 373, dtype: bool

In [20]:
dol_df.loc[:,"Profit Margin"].isnull().sum()

11

In [21]:
dol_df.loc[:,"Profit Margin"].fillna(0)

Date
2021-01-01     0.0
2021-01-02     4.8
2021-01-03    10.2
2021-01-05     9.9
2021-01-05     9.9
              ...
2021-01-06     9.8
2021-01-07     6.3
2021-01-08     8.5
2021-01-09     5.1
2021-01-10     4.4
Name: Profit Margin, Length: 373, dtype: float64

In [22]:
dol_df.loc[:,"Profit Margin"].fillna(0).isnull().sum()

0

In [23]:
dol_df.loc[:,"Profit Margin"].duplicated().sum()

252

In [24]:
dol_df.loc[:,"Profit Margin"].drop_duplicates().duplicated().sum()

0

In [25]:
dol_df.loc[:,"Profit Margin"].duplicated().sum()

252

In [26]:
# The DataFrame is an object type inferring string.
# There are dollar "$" signs as well as percent "%" signs, need to replace them.
# Task: isolate and replace
dol_loc_df = dol_df.loc[:, "Profit Margin"].str.replace("%", "")
dol_loc_df

AttributeError: Can only use .str accessor with string values!

In [ ]:
# Replacing does not adjust numerical behavior.
# Task: transform data type to numerical behavior like float
dol_loc_df.astype(float)

In [ ]:
# Now that the columms are converted to float and its ready to make some calculations.
# Task: find out about missing data/values
dol_loc_df.isnull()
dol_loc_df.isnull().sum()