# This is an exercise about dataframe cleanup

In [4]:
# info about encoding
# Import necessary libraries
import pandas as pd
from pathlib import Path

In [8]:
# Make the connection to the source file.
dol_csv = Path(r"C:\Users\admin\Desktop\FinTech-Workspace\PowerPoint_sample\Module3\02_Dollars_and_Change\Resources\big_time_money_flows.csv")

In [9]:
# Make Pandas read the CSV file.
dol_df = pd.read_csv(dol_csv, index_col = "Date", parse_dates = True, infer_datetime_format=True)

In [10]:
# Create the DataFrame.
dol_df

           Total Payments Profit Margin
Date
2021-01-01     $100008.16           NaN
2021-01-02     $100017.49          4.8%
2021-01-03     $100018.77         10.2%
2021-01-05     $100035.19          9.9%
2021-01-05     $100035.19          9.9%
...                   ...           ...
2021-01-06     $100048.46          9.8%
2021-01-07     $100048.35          6.3%
2021-01-08     $100033.09          8.5%
2021-01-09     $100008.56          5.1%
2021-01-10      $99988.86          4.4%

[373 rows x 2 columns]

In [12]:
# Set the Date for index.

In [22]:
dol_df.dtypes

Total Payments    object
Profit Margin     object
dtype: object

In [23]:
# The DataFrame is an object type inferring string.
# There are dollar "$" signs as well as percent "%" signs, need to replace them.
# Task: isolate and replace
dol_loc_df = dol_df.loc[:, "Total Payments"].str.replace("$", "")
dol_loc_df

C:\Users\admin\AppData\Local\Temp\ipykernel_7428\3154656797.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dol_loc_df = dol_df.loc[:, "Total Payments"].str.replace("$", "")

Date
2021-01-01    100008.16
2021-01-02    100017.49
2021-01-03    100018.77
2021-01-05    100035.19
2021-01-05    100035.19
                ...
2021-01-06    100048.46
2021-01-07    100048.35
2021-01-08    100033.09
2021-01-09    100008.56
2021-01-10     99988.86
Name: Total Payments, Length: 373, dtype: object

In [ ]:
# Replacing does not adjust numerical behavior.
# Task: transform data type to numerical behavior like float
do