#### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path

#### Read in Files

In [21]:
# Import data
# C:\Users\admin\Desktop\FinTech\FinTech2022_Module4_Quantitative Analysis_Pandas\Class_1_Activities\01-Ins_Concat\Resources
f_path = Path("../../FinTech/FinTech2022_Module4_Quantitative Analysis_Pandas/Class_1_Activities/01-Ins_Concat/Resources/F.csv")
gm_path = Path("../../FinTech/FinTech2022_Module4_Quantitative Analysis_Pandas/Class_1_Activities/01-Ins_Concat/Resources/GM.csv")
tsla_path = Path("../../FinTech/FinTech2022_Module4_Quantitative Analysis_Pandas/Class_1_Activities/01-Ins_Concat/Resources/TSLA.csv")

# Read in data and index by date
f_data = pd.read_csv(f_path, index_col='Date')
gm_data = pd.read_csv(gm_path, index_col='Date')
tsla_data = pd.read_csv(tsla_path, index_col='Date')

#### Output of sample data

In [19]:
# Show sample of Ford data
# dffs = f_data.head(10), gm_data.head(10), tsla_data.head(10)
f_data.head()

           Open   High    Low  Close    Volume
Date
1/2/2018  12.52  12.66  12.50  12.66  20773320
1/3/2018  12.68  12.80  12.67  12.76  29765638
1/4/2018  12.78  13.04  12.77  12.98  37478200
1/5/2018  13.06  13.22  13.04  13.20  46121873
1/8/2018  13.21  13.22  13.11  13.15  33828330

In [15]:
# Show sample of General Motors data

In [5]:
# Show sample of Tesla data

#### Concatenate data by rows using concat function and inner join

In [6]:
# Join by rows axis

#### Concatenate data by columns using concat function and inner join

In [7]:
# Join by columns axis