In [51]:
# import os
# os.getcwd()

In [52]:
import pandas as pd
from pathlib import Path

# Reading a CSV file as a Pandas DataFrame

### Step 1: Create a path to the file

In [53]:
uu = Path("C:/Users/admin/Desktop/FinTech-Workspace/Class_Activities_copies/Module3/Activities/01-Ins_Reading_CSVs/Resources/sales.csv")
# ("C:/Users/admin/Desktop/FinTech-Workspace/Class_Activities_copies/Module3/Activities/01-Ins_Reading_CSVs/Resources/sales.csv")
# reading_csvs.ipynb
# "C:\Users\admin\Desktop\FinTech-Workspace\Class_Activities_copies\Module3\Activities\01-Ins_Reading_CSVs\Resources\sales.csv"

### Step 2: Read the CSV into a DataFrame using Pandas

In [54]:
sales_dataframe = pd.read_csv(uu)
sales_dataframe.head()

,FullName,Email,Address,Zip,CreditCard,SalePrice
0,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
1,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
2,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
3,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
4,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49

- - -

# Reading a CSV with no Header

In [50]:
sales_dataframe.tail()

,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
94,Basil Rios,holloo1814@yahoo.com,605 Sloat Terrace,8108,5581 7245 8451 9384,937.14
95,Hipolito Rios,calefacient2049@gmail.com,1248 Fountain Boulevard,37077,2333 0264 5343 2022,645.82
96,Clayton Robertson,coner2015@live.com,230 Paper Parkway,57242,2414 3939 6501 2607,128.73
97,Tony Chandler,sexillion2061@live.com,118 Flood Plantation,70135,5581 8059 1883 1841,820.00
98,Cuc Mcgowan,dispatched1820@gmail.com,87 Louisiana Grove,70959,2678 4140 5531 3894,764.69

In [48]:
# Without a header in the CSV, Pandas will use the first row as the header
yy = Path("C:/Users/admin/Desktop/FinTech-Workspace/Class_Activities_copies/Module3/Activities/01-Ins_Reading_CSVs/Resources/sales_no_header.csv")

In [49]:
# Read the file without a header
sales_dataframe = pd.read_csv(yy)
sales_dataframe.head()

,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
0,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
1,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
2,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88
3,Bradford Kinney,mibound1801@yandex.com,853 Mission Rock Freeway,41721,3712 263405 60178,517.49
4,Fermina Cobb,kingfisher2013@live.com,929 Prague Trail,16625,2351 7156 8193 8639,889.95

In [ ]:
# Rewrite the column names