coding utc

In [1]:
# Head
import pandas as pd
from pathlib import Path

In [2]:
items_csv = Path("../../../../../../../FinTech-Workspace/PowerPoint_sample/Module3/01-Missing_Data/items.csv")

In [3]:
items_df = pd.read_csv(items_csv)

In [4]:
items_df

   Item Number  Price   Quantity
0         2468    2.99       250
1         1357     NaN       300
2         9753    3.47       350