# Analyzing AMD

In this activity, you will calculate the daily returns and then plot the results in order to evaluate a potential investment opportunity. 

Instructions:

1. Import the required libraries and dependencies.

2. Using the `read_csv` function and the `Path` module, read `amd_stock_data.csv` into a Pandas DataFrame. Be sure to set the `DateTimeIndex`. Then confirm that Pandas correctly imported the data by using both the `head` and the `tail` function.

    > **Hint** By using both `head` and `tail` to review the DataFrame, you’ll know both the start and the end date for the dataset. The end date will prove especially important as you work through the activity.

3. Check the DataFrame for missing values by using the `isnull` function.

4. Generate summary statistics for the DataFrame by using the `describe` function.

5. Drop the `volume`, `open`, `high`, and `low` columns. (You need only the `close` column for the daily returns.)

    > **Hint** For more info about dropping columns, refer to the [pandas.DataFrame.drop page](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html).

6. Use the `pct_change` function together with the `dropna` function to calculate the daily returns DataFrame for AMD.

7. For the daily returns DataFrame, use `loc` to select slices from the `date` index to create date ranges of 1, 3, 5, and 10 years. Set each subset equal to a new variable (for example, `daily_return_1_year`) to use later.

    > **Hint** Remember that you select date ranges by using label indexing: `loc[start_date:end_date]`. To ensure that you’re analyzing the most current part of the DataFrame, your end date should equal the last date in the index. You know that date, because you confirmed the DataFrame import by using the `tail` function! You determine the time frames by changing the start date. Your date format should mimic the format of the index values.

8. Generate summary statistics for each subset&mdash;that is, the 1-year, 3-year, 5-year, and 10-year periods.

9. Use the default `plot` function to visualize the daily returns for each time period. Be sure to include a `title`, and adjust the figure size as needed.

10. Determine the time period that has the highest return value and the one that has the lowest. What are the implications of your findings?


References:

[Pandas loc function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)

[Pandas describe function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

[Pandas plot function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html)

## Step 1: Import the required libraries and dependencies.

In [1]:
# Import the Pandas library
import pandas as pd

# Import the Path module from the Pathlib library
from pathlib import Path

# Import the %matplotlib inline dependency
%matplotlib inline

## Step 2: Using the `read_csv` function and the `Path` module, read `amd_stock_data.csv` into a Pandas DataFrame. Be sure to set the `DateTimeIndex`. Then confirm that Pandas correctly imported the data by using both the `head` and the `tail` function.

In [15]:
# Using the read_csv function and the Path module, read in the "amd_stock_data.csv" file from the Resources folder.
# Set the `date` as the index column. 
# Be sure to set the DatetimeIndex using the parse_dates and infer_datetime_format parameters
amd_df = pd.read_csv(
    Path(r"C:\Users\admin\Desktop\FinTech-Workspace\PowerPoint_sample\Module4\01-Analyzing_AMD\Resources\amd_stock_data.csv"),
    index_col="date",
    parse_dates=True,
    infer_datetime_format=True
)
    

# Review the DataFrame with both the head & tail functions
display(amd_df.head())
display(amd_df.tail())

            close    volume  open  high   low
date
2009-04-29   3.51  11537950  3.40  3.56  3.38
2009-04-30   3.61  18193730  3.55  3.73  3.53
2009-05-01   3.82  16233940  3.55  3.90  3.55
2009-05-04   4.26  21236940  3.90  4.30  3.83
2009-05-05   4.32  16369170  4.36  4.39  4.11

            close    volume   open   high    low
date
2019-04-23  27.97  41583740  28.18  28.49  27.79
2019-04-24  28.46  51487330  28.10  28.85  27.93
2019-04-25  27.66  56709000  28.67  28.86  27.36
2019-04-26  27.88  48736860  27.66  27.90  27.05
2019-04-29  27.69  44265600  27.90  28.14  27.50

## Step 3: Check the DataFrame for missing values by using the `isnull` function.

In [3]:
# Using the Pandas isnull function in conjunction with the sum function, check the DataFrame for missing values
amd_df.isnull().mean()

close     0.0
volume    0.0
open      0.0
high      0.0
low       0.0
dtype: float64

## Step 4:Generate summary statistics for the DataFrame by using the `describe` function.

In [13]:
# Use the Pandas describe function to generate summary statistics for the DataFrame
amd_df.describe()

count    2517.000000
mean        7.561573
std         5.814291
min         1.620000
25%         3.610000
50%         5.950000
75%         9.450000
max        32.720000
Name: close, dtype: float64

## Step 5: Drop the `volume`, `open`, `high`, and `low` columns. (You need only the `close` column for the daily returns.)

In [17]:
# Using the Pandas drop function, remove the volume, open, high and low columns
amd_df = amd_df.drop(
    columns=[
        "volume",
        "open",
        "high",
        "low"
    ]
)

# Review the resulting DataFrame

amd_df

            close
date
2009-04-29   3.51
2009-04-30   3.61
2009-05-01   3.82
2009-05-04   4.26
2009-05-05   4.32
...           ...
2019-04-23  27.97
2019-04-24  28.46
2019-04-25  27.66
2019-04-26  27.88
2019-04-29  27.69

[2517 rows x 1 columns]

## Step 6: Use the `pct_change` function together with the `dropna` function to calculate the daily returns DataFrame for AMD.

In [7]:
# Using the Pandas pct_change function in conjunction with the dropna function, generate the AMD daily returns DataFrame.
amd_daily_returns = 

# Revew AMD daily returns DataFrame.
# YOUR CODE HERE

SyntaxError: invalid syntax (834852997.py, line 2)

## Step 7: For the daily returns DataFrame, use `loc` to select slices from the `date` index to create date ranges of 1, 3, 5, and 10 years. Set each subset equal to a new variable (for example, `daily_return_1_year`) to use later.

In [ ]:
# Use the Pandas loc function to create a 1-year time slice of the AMD daily returns DataFrame
# The end date should be 2019-04-29
amd_daily_return_1_year = # YOUR CODE HERE

# Review the first 5 rows of the AMD daily return 1-year slice
# YOUR CODE HERE

In [ ]:
# Use the Pandas loc function to create a 3-year time slice of the AMD daily returns DataFrame
# The end date should be 2019-04-29
amd_daily_return_3_year = # YOUR CODE HERE

# Review the first 5 rows of the AMD daily return 3-year slice
# YOUR CODE HERE

In [ ]:
# Use the Pandas loc function to create a 5-year time slice of the AMD daily returns DataFrame
# The end date should be 2019-04-29
amd_daily_return_5_year = # YOUR CODE HERE

# Review the first 5 rows of the AMD daily return 5-year slice
# YOUR CODE HERE

In [ ]:
# Use the Pandas loc function to create a 10-year time slice of the AMD daily returns DataFrame
# The end date should be 2019-04-29
amd_daily_return_10_year = # YOUR CODE HERE

# Review the first 5 rows of the AMD daily return 10-year slice
# YOUR CODE HERE

## Step 8: Generate summary statistics for each subset&mdash;that is, the 1-year, 3-year, 5-year, and 10-year periods.

In [ ]:
# Use the Pandas describe function to generate summary statistics for the 1-year time slice 
# YOUR CODE HERE

In [ ]:
# Use the Pandas describe function to generate summary statistics for the 3-year time slice
# YOUR CODE HERE

In [ ]:
# Use the Pandas describe function to generate summary statistics for the 5-year time slice 
# YOUR CODE HERE

In [ ]:
# Use the Pandas describe function to generate summary statistics for the 10-year time slice
# YOUR CODE HERE

## Step 9: Use the default `plot` function to visualize the daily returns for each time period. Be sure to include a `title`, and adjust the figure size as needed.

In [ ]:
# Use the Pandas plot function to plot the daily return data for the 1-year time slice
# Adjust the figsize and be sure to include a plot title
# YOUR CODE HERE

In [ ]:
# Use the Pandas plot function to plot the daily return data for the 3-year time slice 
# Adjust the figsize and be sure to include a plot title
# YOUR CODE HERE

In [ ]:
# Use the Pandas plot function to plot the daily return data for the 5-year time slice
# Adjust the figsize and be sure to include a plot title
# YOUR CODE HERE

In [ ]:
# Use the Pandas plot function to plot the daily return data for the 10-year time slice 
# Adjust the figsize and be sure to include a plot title 
# YOUR CODE HERE

## Step 10: Determine the time period that has the highest return value and the one that has the lowest. What are the implications of your findings?

**Question 1:** What are the average daily returns over each of the 1, 3, 5, and 10-year time slices? Which slice had the highest daily average return and which had the lowest?
 
**Answer 1:** # YOUR ANSWER HERE

**Question 2:** What insights could this provide with regard to trading AMD stock over the long vs. short-term?

**Answer 2:** # YOUR ANSWER HERE